<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caribejobs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".FiltrosBusqueda2"></activity>
        <activity android:name=".FiltrosBusqueda" />
        <activity android:name=".Busqueda5" />
        <activity android:name=".Busqueda4" />
        <activity android:name=".Busqueda3" />
        <activity android:name=".Busqueda2" />
        <activity android:name=".Busqueda1" />
        <activity android:name=".Profesion4" />
        <activity android:name=".Profesion3" />
        <activity android:name=".Profesion2" />
        <activity android:name=".Profesion1" />
        <activity android:name=".Registrarse" />
        <activity android:name=".Perfil" />
        <activity android:name=".Modelos.Busqueda" />
        <activity android:name=".Registro" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>